:root {
  /*--primary-blue: #5B5F97; 
  --accent-yellow: #FFC145;
  --bg-gray: #f4f6f8;
  --text-dark: #222;*/

  --primary: #2567aa;
  --primary-hover: #1d5389;
  --text-dark: #000000;
  --text-light: #ffffff;
  --accent: #f2c71c;
  --accent-hover: #be9a0d;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: var(--bg-gray);
  margin: 0;
  color: var(--text-dark);
}

h1 {
  margin-top: 0px;
}

/* НАВИГАЦИОННА ЛЕНТА */
.navbar {
  width: 180px;
  height: 100vh;
  float:left;
  display: flex;
  flex-direction: column;
  align-items:center;
  background-color: var(--primary);
  box-shadow: 0px 4px 15px rgba(0,0,0,0.3);
}

.navbar .logo {
  display: flex;
  align-items:center;
  gap: 10px;
  font-size: 24px;
  margin-bottom: 25px;
  color: var(--text-light);
  width: 180px;
  justify-content: center;
  margin-top: 30px;
}

.navbar a {
  font-weight:bold;
  color: var(--text-light); /* */
  text-decoration: none;
  background-color:var(--primary);
  display:inline;
  align-content: center;
  height: 45px;
  width: 180px;
  text-align: center;
}

.nav-links {
  display: flex;
  flex-direction: column;
}

.divider {
  width: 180px;
  height: 2px;
  background-color: #000000;
}

.navbar a:hover { 
  background-color: var(--primary-hover);
  color: var(--text-light); 
}

.logout {
  margin-top: auto;
}

/* ВИДОВЕ БУТОНИ */
.btn {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.btn-icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

/*.btn-icon-primary {
  color: var(--primary);
}

.btn-icon-primary:hover {
  color: #0a1f4a;
}*/

.btn-primary {
  background-color: var(--primary); /* Blue button from image-4.png */
  color: white;
}

.btn-primary:hover {
  background-color: var(--primary-hover); /* Blue button from image-4.png */
  color: white;
}

.btn-add {
  background-color: var(--primary);
  color: white;
  text-transform: uppercase;
}

.btn-form {
  background-color: var(--primary);
  color: white;
  width: 100%;
  padding: 10px;
}

/* ФОРМИ И ПАНЕЛИ */
.login-card-container {
  display: flex;
  align-items: center;
  justify-content:center;
  height: 100vh;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content:center;
}

.form-card {
  background-color: var(--accent-yellow);
  padding: 40px;
  border-radius: 8px;
  border-color: var(--primary);
  border-style: solid;
  border-width: 4px;
  width: 600px;
  box-shadow: 4px 4px 15px rgba(0,0,0,0.3);
  text-align: left;
}

.form-card h2 {
  margin: 0px 0px 30px 0px;
}

.form-group { 
  margin-bottom: 15px;
}

.form-group label { 
  display: block; 
  margin-bottom: 5px; 
  font-weight: bold; 
}
.form-group input, .form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-row {
  align-items: center;
}

.form-row input, .form-row select {
  height: 30px;
}

/* ТАБЛИЦИ */
.table-container { 
  display: flex;
  flex-direction: column;
  padding: 25px;
}
.controls { 
  display: flex; 
  gap: 10px; 
  margin-bottom: 20px; }

table {
  background: white;
  border-collapse: collapse;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  width: 100%;
}

tr {
  vertical-align:middle;
}

th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th { font-weight: 600; color: #555; }